body { background-color: #FFFEF7; }

nav {
    font-family: sans-serif;
    background-color: #FFFEF7;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
    position: relative; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

/*nav li {
    margin: 0 20px;
    position: relative; 
}*/

nav li:not(:last-child) {
    margin-right: 40px; 
}

nav li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px; 
    width: 4px; 
    height: 100%; 
    /*background-color: #FFAE03; 
    transform: translateY(-50%); */
}

nav a {
    text-decoration: none;
    color: #EF6351;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: block;
}

nav a:hover {
    font-size: 30px;
    background-color: #EF6351;
    color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


.login-signup-container {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
}

.login-signup-container button {
    background-color: #EF6351;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px; 
}

.login-signup-container button:hover {
    background-color: #555;
}


.login-signup-container {
    position: absolute;
    top: 50%; 
    right: 20px;
    transform: translateY(-50%); 
    display: flex; }

.login-signup-container button {
    background-color: #3A405A;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px; 
    font-size: 25px; 
    transition: all 0.3s ease-in-out;
}

.login-signup-container button:hover {
    background-color: #555;
    font-size: 30px; 
}

body {
    margin: 0;
    justify-content:center;
    align-items: center; 
    height: 100vh; 
  }
  
  .zigzag-container {
    width: 85vw;
    padding: 5vw;
    margin: auto;
    margin-top: 20px;
    background-color: #FFAE03;
    color: white;
    position: relative;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    display: flex; /* Use flexbox to display items side by side */
    justify-content: center; /* Center the items horizontally */
    flex-direction: column; /* Set the flex direction to column to stack items vertically */
    align-items: center; /* Center items horizontally */
  }
  
  .zigzag-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox to display list items side by side */
  }
  
  .zigzag-container li {
    margin-bottom: 10px;
  }
  
  .zigzag-container a {
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    transition: color 0.3s ease-in-out;
    padding: 10px; 
    background-color: #ffcb5a; 
    border-radius: 10px; 
    margin: 5vw; 
  }
  
  .zigzag-container a:hover {
    color: #3A405A;
    font-size: 3vw;
  }
  .zigzag-container p {
    font-size: 18px;
    margin-bottom: 10px;
    padding:30px;
  }
  