body { 

  background-color: #FFFEF7; 

}

nav {
    font-family: sans-serif;
    background-color: #FFFEF7;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
    position: relative; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

/*nav li {
    margin: 0 20px;
    position: relative; 
}*/

nav li:not(:last-child) {
    margin-right: 40px; 
}

nav li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px; 
    width: 4px; 
    height: 100%; 
    /*background-color: #FFAE03; 
    transform: translateY(-50%); */
}

nav a {
    text-decoration: none;
    color: #EF6351;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: block;
}

nav a:hover {
    font-size: 30px;
    background-color: #EF6351;
    color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


.login-signup-container {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
}

.login-signup-container button {
    background-color: #EF6351;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px; 
}

.login-signup-container button:hover {
    background-color: #555;
}


.login-signup-container {
    position: absolute;
    top: 50%; 
    right: 20px;
    transform: translateY(-50%); 
    display: flex; }

.login-signup-container button {
    background-color: #3A405A;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px; 
    font-size: 25px; 
    transition: all 0.3s ease-in-out;
}

.login-signup-container button:hover {
    background-color: #555;
    font-size: 30px; 
}

body {
    margin: 0;
    justify-content:center;
    align-items: center; 
    height: 100vh; 
  }
  
  .zigzag-container {
    width: 85vw;
    padding: 5vw;
    margin: auto;
    margin-top: 20px;
    background-color: #FFAE03;
    color: white;
    position: relative;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
  }
  
  .zigzag-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
  }
  
  .zigzag-container li {
    margin-bottom: 10px;
  }
  
  .zigzag-container a {
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    transition: color 0.3s ease-in-out;
    padding: 10px; 
    background-color: #ffcb5a; 
    border-radius: 10px; 
    margin: 5vw; 
  }
  
  .zigzag-container a:hover {
    color: #3A405A;
    font-size: 3vw;
  }
  .zigzag-container p {
    font-size: 30px;
    margin-bottom: 10px;
    padding:30px;
  }
  
  .paragraph1 {
    font-size: 200px; 
    font-weight: bold;
    color: white;
    margin-bottom: 20px; 
    word-wrap: break-word;
    ;
}

/*form*/
.form_container 
{
  position: absolute;
  max-width:320px;
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
  z-index:101;
  background: #FFF;
  padding :25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.signup_form
{
  display: none;
}

.form-close
{
  position: absolute;
  top: 10px;
  left: 20px;
  color:#555;
  font-size:22px;
  opacity:0.7;
  cursor:pointer;
}

.form_container h2 
{
  font-size:22px;
  color:#3A405A;
  text-align:center;
}

.input_box
{
  position:relative;
  margin-top: 30px;
  width:100px;
  height: 40px;
}

.input_box input
{
  height: 100%;
  width:100%;
  border:none;
  outline:none;
  padding: 0 30px;
  color: #333;
  transition:all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus{
  border-color: #EF6351;
}

.input_box i
{
position:absolute;
top:50%;
transform: translateY(-50%);
font-size:20;
}

.input_box i.email,
.input_box i.password
{
  left:0;
  color:#707070;
}

.input_box input:focus ~ i.email
.input_box input:focus ~ i.password{
  color: #EF6351;
}

.input_box i.pw_hide
{
  right: 0;
  font-size:18px;
}

.option_field
{
  margin-top: 14px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.form_container a{
  color: #EF6351;
  font-size: 12px;
}

.form_container a:hover{
  text-decoration: underline;
}

.checkbox
{
  display:flex;
  column-gap: 8px;;
  white-space: nowrap;       
}

.checkbox input{
  accent-color:#fff;
}

.checkbox label{
  font-size: 12px;
  cursor:pointer;
  user-select:none;
  color:#3A405A;
}

.form_container .button
{
  background:#aaaaaa;
  margin-top: 30px;
  width:100%;
  padding: 10px 0;
  border-radius: 10px;
}

.login_signup
{
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}