body { background-color: #FFFEF7; }

nav {
    font-family: sans-serif;
    background-color: #FFFEF7;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
    position: relative; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

nav li {
    margin: 0 20px;
    position: relative; 
}

nav li:not(:last-child) {
    margin-right: 40px; 
}

nav li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px; 
    width: 4px; 
    height: 100%; 
    /*background-color: #FFAE03; 
    transform: translateY(-50%); */
}

nav a {
    text-decoration: none;
    color: #EF6351;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: block;
}

nav a:hover {
    font-size: 30px;
    background-color: #EF6351;
    color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


.login-signup-container {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
}

.login-signup-container button {
    background-color: #EF6351;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px; 
}

.login-signup-container button:hover {
    background-color: #3A405A;
}


.login-signup-container {
    position: absolute;
    top: 50%; 
    right: 20px;
    transform: translateY(-50%); 
    display: flex; }

.login-signup-container button {
    background-color: #3A405A;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px; 
    font-size: 25px; 
    transition: all 0.3s ease-in-out;
}

.login-signup-container button:hover {
    background-color: #555;
    font-size: 30px; 
}

body {
    margin: 0;
    justify-content:center;
    align-items: center; 
    height: 100vh; 
  }
  
  .zigzag-container {
    width: 90vw;
    padding:1vw;
    margin: auto;
    margin-bottom:25px;
    background-color: #FFAE03;
    color: white;
    position: relative;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
  }
  
  .zigzag-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .zigzag-container li {
    margin-bottom: 40px;
  }
  
  .zigzag-container a {
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    transition: color 0.3s ease-in-out;
    padding: 15px; 
    background-color: #ffcb5a; 
    border-radius: 20px; 
    margin: 8vw; 
  }
  
  .zigzag-container a:hover {
    color: #3A405A;
    font-size: 3vw;
  }
  .zigzag-container .paragraph2 {
    font-size: 30px;
    margin-bottom: 10px;
    padding:30px;
  }
   .paragraph1 {
    font-size: 35px;
    text-align: center;
    padding:15px;
    margin-bottom:20px;
   }
   
   .logo {
    width: 45vw ;
    display: block; 
    margin-left: 27vw;
}

.prev,
.next {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 1; 
    background-color:#4ECDC4; 
    border: none; 
    color: #F7FFF7;
    font-size: 50px; 
    padding: 10px; 
    border-radius: 20px;
}

.prev:hover{
  background-color:#83E5DE; 
  font-size: 60px; 
}

.next:hover{
  background-color:#83E5DE; 
  font-size: 60px; 
}

.prev {
  left: 60px; 
}

.next {
  right: 60px; 
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #4ECDC4;
  border-radius: 70px;
  margin: 2vw; 
}

.carousel-inner {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.carousel-item {
  text-align: center;
  position: relative;
}

.carousel-item img {
  max-width: 70%;
  height: auto;
  border-radius: 50px;
  margin-top:2vw; 
  margin-bottom: 2.5vw;
  margin-right: 20px;
}

.carousel-item img:hover {
  max-width: 65%;
  height: auto;
  border-radius: 50px;
  margin-top:2vw; 
  margin-bottom: 2.5vw;
  filter:drop-shadow(5px 5px 15px #3A405A)
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4ECDC4; 
  color: #F7FFF7;
  font-size: 2vw;
  margin-right:110px;
}

.carousel-container{
  max-width: 92vw;
  margin: 1.5vw; 
}

.actiune-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 20%;
 background-color: #EF6351; }

.actiune-container p {
  text-align: center; 
  font-size: 4vw;
  color: #F7FFF7;
  
}

footer {
			background-color: #3A405A;
			color: #F7FFF7;
			padding: 20px;
			text-align: center;
			font-size: 14px;
			margin-top: 30px;
        }
	
	footer a {
		color: #F7FFF7;
		text-decoration: underline;
	}
	
	@media only screen and (max-width: 600px) {
		header {
			font-size: 28px;
		}
		
		nav {
			padding: 10px;
		}
		
		nav li {
			margin: 0 10px;
		}
		
		nav a {
			font-size: 16px;
			padding: 5px 10px;
		}
		
		h2 {
			font-size: 24px;
		}
		
		p {
			font-size: 14px;
		}
		
		footer {
			font-size: 12px;
		}
	}