body { background-color: #EF6351; }

nav {
    font-family: sans-serif;
    background-color: #FFFEF7;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
    position: relative; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

/*nav li {
    margin: 0 20px;
    position: relative; 
}*/

nav li:not(:last-child) {
    margin-right: 40px; 
}

nav li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    width: 4px;
    height: 100%; 
    /*background-color: #FFAE03; 
    transform: translateY(-50%); */
}

nav a {
    text-decoration: none;
    color: #EF6351;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: block;
}

nav a:hover {
    font-size: 30px;
    background-color: #EF6351;
    color: #F7FFF7;
    box-shadow: 0px 4px 10px #3A405A(0, 0, 0, 0.2);
    transform: scale(1.1);
}


.login-signup-container {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
}

.login-signup-container button {
    background-color: #EF6351;
    color: #F7FFF7;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px; 
}

.login-signup-container button:hover {
    background-color: #3A405A;
}


.login-signup-container {
    position: absolute;
    top: 50%; 
    right: 20px;
    transform: translateY(-50%); 
    display: flex; }

.login-signup-container button {
    background-color: #3A405A;
    color: #F7FFF7;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px; 
    font-size: 25px; 
    transition: all 0.3s ease-in-out;
}

.login-signup-container button:hover {
    background-color: #3A405A;
    font-size: 30px; 
}

.logo {
    width: 45vw ;
    display: block; 
    margin-left: 27vw;
}

footer {
    background-color: #3A405A;
    color: #F7FFF7;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

footer a {
color: #F7FFF7;
text-decoration: underline;
}

@media only screen and (max-width: 600px) {
header {
    font-size: 28px;
}

nav {
    padding: 10px;
}

nav li {
    margin: 0 10px;
}

nav a {
    font-size: 16px;
    padding: 5px 10px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 14px;
}

footer {
    font-size: 12px;
}
}
  

nain {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
}
section {
    background-color: #F7FFF7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    height: 100%;
    border-radius: 50px;
    filter: drop-shadow(5px 5px 15px #3A405A); 
    margin-bottom: 20px; /* Add margin-bottom for vertical space between sections */
    transition: transform 0.3s ease-in-out;
}



section:hover {
    transform: scale(1.1); 
}

h1 {color: #333;
    border: 4px #333;
    background-color: #FFF;
}
h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}